{% extends 'base.html' %}{% block title %} Order {% endblock title%}{% block content %}
<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Ваш заказ</h5>
      <ul class="list-group">
      {% if items_order %}
      {% for item in items_order %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ item.item.name }}
        <span class="badge badge-primary">{{ item.quantity }}</span>
      </li>
      </ul>
      {% if forloop.last %}
      <p class="card-text">Сумма заказа: ${{ item.order.total_price }}</p>
    <a href="{% url 'products:create-checkout-session' item.order.id %}" class="btn btn-success">Купить</a>
    {% endif %}{% endfor %}
    <a href="{% url 'products:clear-order' %}" class="btn btn-dark">Очистить заказ</a>
    {% else %}
    <p class="text-center">Список заказов пуст</p>
    {% endif %}
    </div>
    <div class="card-footer text-muted"></div>
</div>{% endblock %}
